body {
    background-color: #ffffff;
}

.donate-whole {
    padding-top: 100px;
    text-align: center;  
}

.donate-title-div {
    color: #a4c2a5;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.donate-para-div { 
    background-color:#c1e2c2;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 30px;
    color: #131312;
    margin-bottom: 8vh;
}

.form-div{
    padding-bottom: 100px;
}

#donate-title {
    font-family: sans-serif;
    font-size: 50px;
    line-height: 45px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-shadow: 2px 2px #131312;
    font-stretch: ultra-expanded;
}

#form-text {
    font-family: sans-serif;
    color: #a4c2a5;
    font-size: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-shadow: 2px 2px #131312;
    font-stretch: ultra-expanded;

}

input[type=text], select, textarea {
    width: 50%; /* Full width */
    border:none;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 5px; /* Add a top margin */
    margin-bottom: 3px; /* Bottom margin */
    resize: none;
    background-color: #f1f2eb;
    color:#000000;
    font-size: 15px;
}

input[type=submit] {
    background-color: #a4c2a5;
    color: #4a4a48;
    font-size: 15px;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


footer {
    background: #f2f2f2;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #131312;
    padding: 15px;
}
