body {
    font-family: 'Times New Roman';
}

h1 {
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
}

h3 {
  font-family: sans-serif;
}

.navbar {
  font-family: sans-serif;
  width: 100vw; 
  
  min-height: 120px;
  position: fixed;
  transition: .6s;
  z-index: 5;
}

.navbar li a {
  font-family: sans-serif;
  color: #f2f2f2;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: 200;
  text-align: center;
}

@media (hover: none) {
  .navbar li a {
    font-size: 40px;
  }
}
@media (hover: hover) {
  .navbar li a {
    font-size: 20px;
  }
}

.navbar-nav {
  width:50%;
  margin: 0;
}

#logo {
  height:100%;
  width: 100%;
  object-fit: contain; 
  top:50%;
  left:50%;
  z-index: 10;
}

#logo-wrapper {
  position: fixed;
  left:0%;
  top:0;
  width: 14%;
  height: 120px;
  padding: 0 0;
  margin: 0 0;
  transition: .6s;
  z-index: 10;
}

.pull-left {
  height: 100%;
  width: 10%;
  padding: 0 0;
  margin: 0 0;
}

.ourmission-underline a {
  text-decoration: none;
  color: #000;
  position: relative;
}

.ourmission-underline a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  background-color: #a4c2a5;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out 0s;
}

.ourmission-underline > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

footer {
  background: #f2f2f2;
  align-items: center;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  color: #131312;
  padding: 15px;
}

