body {
    /* background-color: #566246; */
}

.success-title-div {
    text-align: center;
    color: #a4c2a5;
    padding-top: 20vh;
}

#success-title {
    font-family: sans-serif;
    font-size: 50px;
    line-height: 45px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-shadow: 2px 2px #131312;
    font-stretch: ultra-expanded;
}

.success1, .success2, .success3, .success4 {
    align-items: center;
    padding-top: 5vh;
    padding-left: 5vw;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
}

#seb-text, #cheeto-text, #butts-text, #bud-text {
    flex: 1.5;
}

#seb-title, #cheeto-title, #butts-title, #bud-title {
    font-size: 25px;
}

#seb-para, #cheeto-para, #butts-para, #bud-para {
    font-size: 20px;
}

#seb-pic, #cheeto-pic, #butts-pic, #bud-pic {
    flex: 1;
}

#seb-img, #cheeto-img, #butts-img, #bud-img {
    width: 50%;
    border: 5px solid #a4c2a5;
}
